@import url(layout.css);

main {
    background: var(--navy);
    color: aliceblue;
    font-size: 1em;
}

section.home-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-height: 100svh;
    max-height: fit-content;
}

section.home-text.objetivo {
    flex-direction: column;
    background: url(../images/space_image.jpg);
    background-position: center;
    background-size: cover;
}
    
div#objetivo-text {
    position: relative;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    width: 87%;
    height: 100%;
    font-size: 2em;
    font-weight: 600;
}

div#objetivo-text::before {
    position: absolute;
    left: -1em;
    content: '';
    width: 4px;
    height: 100%;
    background: aliceblue;
}


section.home-text.conteudo {
    align-items: center;
    justify-content: center;
}

div#container {
    height: 100%;
    width: 100%;
    background-image: url(../images/jornada_indigena.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div#conteudo-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

div#conteudo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    max-height: fit-content;
    font-size: calc(1.5vh + 1rem);
    font-size: calc(1.5svh + 1rem);
    background-color: rgba(0, 0, 0, 0.664);
    text-align: justify;
}

div#conteudo-text p {
    font-family: 'Merriweather', serif;
    height: 100%;
    padding: 40px;
}

.main{
    width:330px;
    height:330px;
    border:1px solid var(--peach);
    position:absolute;
    top:0; bottom:0; left:0;right:0;
    margin:auto;
    border-radius:50%; 
  }
  
  .circle{
    width:30px;
    height:30px;
    background: var(--navy);
    border-radius:50%;
    position:absolute;
    top:0; bottom:0; left:0;right:0;
    overflow:hidden;
    margin:auto;
    animation: circle 6s linear infinite;
  }
  
  @keyframes circle{
    0%{
      transform:rotate(0deg)
                translate(-165px)
                rotate(0deg);
    
    }
    100%{
      transform:rotate(360deg)
                translate(-165px)
                rotate(-360deg);
    }
  }
  